{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "Category" %} - {{ category }}
{% endblock %}
{% block content %}
    {% include 'inc/_portfolio_nav.html' %}
    <section>
        <div class="container__portfolio">
            <div class="portfolio__section">
                {% for item in page_obj %}
                    <div class="portfolio__case">
                        <div class="portfolio__case__box">
                            <div class="portfolio__case__div">
                                <div class="portfolio__case__photo__div">
                                    <a href="{{ item.get_absolute_url }}">
                                        <img src="{{ item.photo_portfolio.url }}" alt="">
                                    </a>
                                </div>
                                <div class="portfolio__case__title__div">
                                    {% if "/en/" in request.path %}
                                        <a href="{{ item.get_absolute_url }}">{{ item.title_portfolio }}</a>
                                    {% endif %}
                                    {% if "/ru/" in request.path %}
                                        <a href="{{ item.get_absolute_url }}">{{ item.title_portfolio_ru }}</a>
                                    {% endif %}
                                </div>
                                <div class="portfolio__case__subtitle__div">
                                    {% if "/en/" in request.path %}
                                        <p>{{ item.content_portfolio_en }}</p>
                                    {% endif %}
                                    {% if "/ru/" in request.path %}
                                        <p>{{ item.content_portfolio_ru }}</p>
                                    {% endif %}
                                </div>
                                <div class="portfolio__case__time__div">
                                    <div class="portfolio__case__category">
                                        <a href="{% url 'portfolio_category' item.category.pk %}">{{ item.category }}</a>
                                    </div>
                                    <div class="portfolio__case__time">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 14 14" role="img"><g fill-rule="evenodd"><path d="M7 0a7 7 0 100 14A7 7 0 007 0m0 1.05A5.957 5.957 0 0112.95 7 5.957 5.957 0 017 12.95 5.957 5.957 0 011.05 7 5.957 5.957 0 017 1.05"/><path d="M7.5 2.106a.5.5 0 11-1 0 .5.5 0 011 0m-2.514.406a.5.5 0 11-.867.5.5.5 0 01.867-.5M3.012 4.12a.5.5 0 11-.5.866.5.5 0 01.5-.866M2.106 6.5a.5.5 0 110 1 .5.5 0 010-1m.406 2.514a.5.5 0 11.5.867.5.5 0 01-.5-.867m1.608 1.974a.5.5 0 11.866.5.5.5 0 01-.866-.5m2.38.906a.5.5 0 111 0 .5.5 0 01-1 0m2.514-.406a.5.5 0 11.867-.5.5.5 0 01-.867.5m1.974-1.608a.5.5 0 11.5-.866.5.5 0 01-.5.866m.906-2.38a.5.5 0 110-1 .5.5 0 010 1m-.406-2.514a.5.5 0 11-.5-.867.5.5 0 01.5.867M9.88 3.012a.5.5 0 11-.866-.5.5.5 0 01.866.5"/><polygon points="6.5 4.16 6.5 6.969 4.925 9.697 5.791 10.197 7.492 7.25 7.5 7.25 7.5 4.16"/></g></svg>
                                        <p>{{ item.subtitle_portfolio }}</p>
                                        {% if "/en/" in request.path %}
                                            <p>day delivery</p>
                                        {% endif %}
                                        {% if "/ru/" in request.path %}
                                            {% if item.subtitle_portfolio == "1" or item.subtitle_portfolio == "21" or item.subtitle_portfolio == "31"%}
                                                <p>день работы</p>
                                            {% endif %}
                                            {% if item.subtitle_portfolio == "2" or item.subtitle_portfolio == "3" or item.subtitle_portfolio == "4" or item.subtitle_portfolio == "22" or item.subtitle_portfolio == "23" or item.subtitle_portfolio == "24"%}
                                                <p>дня работы</p>
                                            {% endif %}
                                            {% if item.subtitle_portfolio == "5" or item.subtitle_portfolio == "6" or item.subtitle_portfolio == "7" or item.subtitle_portfolio == "8" or item.subtitle_portfolio == "9" or item.subtitle_portfolio == "10" or item.subtitle_portfolio == "11" or item.subtitle_portfolio == "12" or item.subtitle_portfolio == "13" or item.subtitle_portfolio == "14" or item.subtitle_portfolio == "15" or item.subtitle_portfolio == "16" or item.subtitle_portfolio == "17" or item.subtitle_portfolio == "18" or item.subtitle_portfolio == "19" or item.subtitle_portfolio == "20" or item.subtitle_portfolio == "25" or item.subtitle_portfolio == "26" or item.subtitle_portfolio == "27" or item.subtitle_portfolio == "28" or item.subtitle_portfolio == "29" or item.subtitle_portfolio == "30"%}
                                                <p>дней работы</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'inc/_paginator_portfolio.html' %}
{% endblock %}